.navbar-nav {
  transition: all 0.3s ease;
}
table th, table td {
  vertical-align: middle !important;
}
  
.table > *, .table td a, .table td button, .table td span {
  font-size: 12px;
}
.freeze-table {
  height: 300px;
}

/* Add animation class */
.delete-item {
  animation: slideOut 0.5s ease forwards;
}

/* Define animation keyframes */
@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0;
  }
}

  